//
// Layout
//


// Main Containers


.section {
  position: relative;
  top: -3.4%;
  padding: 0 1.75rem 1.75rem 1.75rem;

  @media screen and (min-width: 1300px) {
    width: 60rem; // 1200 px
  }
}

.main {
  max-width: 100%;
}


// Main Heading


.main-heading {
  margin-top: 0;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}


// Search


.search {
  margin-bottom: $gutter;
  padding: $box-padding;
  background-color: $white;
  border-radius: $border-radius;
}


// Information


.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  &-card {
    position: relative;
    @include flex-center;
    flex-direction: column;
    padding: $box-padding;
    flex-basis: 100%;
    text-transform: capitalize;
    background-color: $white;
    border-radius: $border-radius;

    &__loader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include flex-center;
      flex-direction: column;
      opacity: 0;
      transition: all .25s ease-in-out;
    }

    &__data {
      @include flex-center;
      flex-direction: column;
      opacity: 0;
      transition: all .25s ease-out;
    }

    &:not(:last-child) {
      margin-bottom: $gutter;
    }

    &__heading {
      margin-bottom: 1rem;
      min-height: 2.25rem;
      text-align: center;
    }

    &__icon {
      width: 5rem;
      height: 5rem;
      margin-top: .85rem;
      margin-bottom: .55rem;
    }

    &__temperature {
      height: 1.85rem;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 0 !important;
      flex-basis: 48.5%;

      &:not(:last-child) {
        margin-right: $gutter;
      }
    }
  }
}
