//
// Variables
//


// Colors


$color-white: #fff;
$color-black: #111;

$color-greyish-blue: #cfd6e6;

$color-light-grey-1: #fbfbfc;

$color-dark-grey-1: #aaaaaa;
$color-dark-grey-2: rgba(#888, .95);


// Layout


$box-padding: 1.5rem;
$gutter: 1.75rem;
$border-radius: .25rem;
